@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Silkscreen:wght@400;700&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.revisionTextArea {
  width: 100%;
  width: 450px;
  
  // color: white;
  min-height: 100px;
  // resize: none;
  // margin-bottom: 10px;
  outline: none;
  // border-style: none;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  padding: 10px;
  // cursor: pointer;
  // background-color: black;
  
  
  
  
  &:focus {
    // padding: 10px;
    border-style: solid;
    // border-width: 2px;
    // border-color: aliceblue;
    // cursor: text;
    background-color: white;
    color: black;
    transition: border-color 2s, border-width 2s;
  }
  
  &.revisionTextAreaIsTyping {
    // transition: padding 2s;
    // border-color: rgb(0, 195, 255);
    border-color: rgb(0, 166, 255);
    // padding: 7px;
    // border-width: 3px;
  }

}

.oldFileVersion {
  color: rgb(133, 133, 133);
  // background-color: aqua;
}

.song {
  background-color: rgb(228, 228, 228);
  padding: 10px;
  margin: 10px;

  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

.shareButton {

  border-style: solid;
  border-width: 1px;
  border-color: rgb(79, 79, 79);
  border-radius: 10px;
  
  border-width: 0px;

  font-size: 16px;
  color: rgb(79, 79, 79);
  background-color: rgba(255, 255, 255, 0);
  padding: 10px;
  cursor: pointer;
  font-weight: 300;
  
  &:hover {
  }
  &:active {
    color: rgb(0, 166, 255);
  }
}


.profilePhotoIcon {
  border-radius: 50%;
  // height: 10px;
  // width: 10px;
  
}

// .revisionTextArea {
//   width: 100%;
//   min-height: 200px;
//   resize: none;
//   margin-bottom: 10px;
//   outline: none;
//   border-style: none;
//   border-radius: 100px;
// }

// maybe make edit here will refresh?

