.revisionTextArea {
  width: 100%;
  
  color: white;
  min-height: 100px;
  resize: none;
  // margin-bottom: 10px;
  outline: none;
  border-style: none;
  border-radius: 10px;
}


.changeCol {
  // color: blue;
  color: red;
  color: green;

}

