.profilePhotoIcon {
    border-radius: 50%;
    // height: 10px;
    // width: 10px;
    
}

.revisionTextArea {
    width: 100%;
    min-height: 200px;
    resize: none;
    margin-bottom: 10px;
    outline: none;
    border-style: none;
    border-radius: 100px;
  }
  
